Package: factoid
Version: 1.0-1
Architecture: all
Maintainer: Christian Kuntz <ckuntz@usc.edu>
Installed-Size: 13
Section: misc
Priority: optional
Description: Tells user factoids
 Factoid tells the user a random factoid, or a factoid specified by -n N
